@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #52006A;
}

#navegador {
  position: sticky;
  top: 0;
  z-index: 10000;
}
#navegador .navegadorGral {
  background-color: black;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
}
#navegador .navegadorGral .navegadorLogo {
  font-family: "Quicksand", sans-serif;
}
#navegador .navegadorGral .menuNavegador ul {
  margin-top: 5%;
  color: #FF7600;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#navegador .navegadorGral .menuNavegador ul li {
  display: flex;
  align-content: center;
}
#navegador .navegadorGral .menuNavegador ul li a {
  color: #FF7600;
  text-decoration: none;
}
#navegador .navegadorGral .menuNavegador ul li a:visited:hover {
  color: #FF7600;
}
#navegador .navegadorGral .menuNavegador ul li a:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.5s;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .navegadorGral {
    font-size: 65%;
  }
  .navegadorGral .navegadorLogo img {
    height: 70px;
    width: 180px;
  }
  .navegadorGral .menuNavegador a:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navegadorGral {
    font-size: 50%;
  }
  .navegadorGral .navegadorLogo img {
    height: 40px;
    width: 100px;
  }
  .navegadorGral .menuNavegador a:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
  }
}
@media (max-width: 575px) {
  .navegadorGral {
    font-size: 32%;
  }
  .navegadorGral .navegadorLogo img {
    height: 50px;
    width: 100px;
  }
  .navegadorGral .menuNavegador a:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
  }
}
/* Responsive */
.portfolioGeneral {
  color: white;
  margin: 0 30px;
}
.portfolioGeneral h2 {
  text-align: center;
  padding-top: 100px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .portfolioGeneral {
    margin: 0 20px;
  }
  .portfolioGeneral h2 {
    padding-top: 70px;
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 25px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .portfolioGeneral {
    margin: 0 10px;
  }
  .portfolioGeneral h2 {
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .portfolioGeneral {
    margin: 0 5px;
  }
  .portfolioGeneral h2 {
    padding-top: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
  }
}
/* Responsive */
.nosotrosGeneral {
  color: white;
  margin: 0 30px;
}
.nosotrosGeneral h2 {
  text-align: center;
  padding-top: 100px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.nosotrosGeneral .nosotrosParrafo {
  padding: 10px 100px;
  font-family: "Lato", sans-serif;
  word-spacing: 10px;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .nosotrosGeneral {
    margin: 0 20px;
  }
  .nosotrosGeneral h2 {
    padding-top: 70px;
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 25px;
  }
  .nosotrosGeneral .nosotrosParrafo {
    padding: 0 50px;
    word-spacing: 5px;
    font-size: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .nosotrosGeneral {
    margin: 0 20px;
  }
  .nosotrosGeneral h2 {
    padding-top: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .nosotrosGeneral .nosotrosParrafo {
    padding: 0 30px;
    word-spacing: 5px;
    font-size: 50%;
  }
}
@media (max-width: 575px) {
  .nosotrosGeneral {
    margin: 0 10px;
  }
  .nosotrosGeneral h2 {
    padding-top: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
  }
  .nosotrosGeneral .nosotrosParrafo {
    padding: 0 20px;
    word-spacing: 3px;
    font-size: 40%;
  }
}
/* Responsive */
#contacto {
  background-color: black;
}
#contacto .contactoGeneral h2 {
  text-align: center;
  padding-top: 100px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: #FFA900;
}
#contacto .contactoGeneral .contactoContainerGrid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: space-around;
  align-items: center;
}
#contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 {
  color: #FFA900;
}
#contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 .btn {
  background-color: black;
  color: #FFA900;
  border-color: #FFA900;
}
#contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 .btn:hover {
  background-color: #FFA900;
  color: black;
  border-color: #FFA900;
}
#contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px;
  justify-items: center;
}
#contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerInfo {
  color: #FFA900;
  font-family: "Lato", sans-serif;
}
#contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerLink {
  align-self: flex-end;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  #contacto {
    height: 750px;
  }
  #contacto .contactoGeneral h2 {
    font-size: 25px;
    padding-top: 30px;
  }
  #contacto .contactoGeneral .contactoContainerGrid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 {
    font-size: 90%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 {
    display: grid;
    grid-template-rows: 200px 200px;
    align-items: center;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerInfo {
    word-spacing: 5px;
    font-size: 90%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerLink img {
    height: 20%;
    width: 20%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #contacto .contactoGeneral {
    height: 600px;
  }
  #contacto .contactoGeneral h2 {
    font-size: 20px;
    padding-top: 10px;
  }
  #contacto .contactoGeneral .contactoContainerGrid {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 {
    font-size: 70%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 .form-control {
    font-size: 90%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 .btn {
    font-size: 70%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 150px 150px;
    justify-content: center;
    align-items: center;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerInfo {
    word-spacing: 5px;
    font-size: 70%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerLink img {
    height: 15%;
    width: 15%;
  }
}
@media (max-width: 575px) {
  #contacto .contactoGeneral {
    margin: 0 10px;
    height: 500px;
  }
  #contacto .contactoGeneral h2 {
    font-size: 12px;
    padding-top: 10px;
  }
  #contacto .contactoGeneral .contactoContainerGrid {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-around;
    align-items: center;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 {
    font-size: 50%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 .form-control {
    font-size: 70%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem1 .btn {
    font-size: 70%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px 100px;
    justify-content: center;
    align-items: center;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerInfo {
    word-spacing: 5px;
    font-size: 50%;
  }
  #contacto .contactoGeneral .contactoContainerGrid .contactoContainerGridItem2 .contactoContainerLink img {
    height: 15%;
    width: 15%;
  }
}
/* Responsive */
#inicio {
  height: 600px;
  padding-top: 150px;
  margin-bottom: 100px;
}
#inicio .bienvenida {
  margin: auto;
  display: table;
}
#inicio .bienvenida h1 {
  font-family: "Press Start 2P", cursive;
  color: black;
  letter-spacing: 20px;
  font-size: 100px;
  transform: scale(1, 3);
  float: left;
  position: relative;
  margin-top: 200px;
}
#inicio .bienvenida h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: #52006A;
  animation: maquina 2s steps(7) 1s 1 normal both, blinkTextCursor 500ms steps(7) infinite normal;
}
@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes blinkTextCursor {
  from {
    color: rgba(0, 0, 0, 0.75);
  }
  to {
    color: transparent;
  }
}

/* Estilos responsive bienvenida */
@media (min-width: 768px) and (max-width: 1024px) {
  #inicio .bienvenida h1 {
    letter-spacing: 10px;
    font-size: 100px;
    transform: scale(0.75, 2);
    margin-top: 200px;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #inicio .bienvenida h1 {
    letter-spacing: 5px;
    font-size: 80px;
    transform: scale(0.75, 1.5);
    margin-top: 200px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  #inicio .bienvenida h1 {
    letter-spacing: 3px;
    font-size: 50px;
    transform: scale(0.8, 1.9);
    margin-top: 200px;
    width: 100%;
  }
}
/* Estilos responsive bienvenida */
.clientesGeneral {
  color: white;
  margin: 0 30px;
}
.clientesGeneral h2 {
  text-align: center;
  padding-top: 100px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.clientesGeneral .clientesImgGeneral {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  justify-items: center;
}
.clientesGeneral .clientesImgGeneral img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .clientesGeneral {
    margin: 150px 20px;
  }
  .clientesGeneral h2 {
    padding-top: 70px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 25px;
  }
  .clientesGeneral .clientesImgGeneral {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-row-gap: 60px;
  }
  .clientesGeneral .clientesImgGeneral img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .clientesGeneral {
    margin: 0 20px;
  }
  .clientesGeneral h2 {
    padding-top: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .clientesGeneral .clientesImgGeneral {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-row-gap: 40px;
  }
  .clientesGeneral .clientesImgGeneral img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
  }
}
@media (max-width: 575px) {
  .clientesGeneral {
    margin: 150px 20px;
  }
  .clientesGeneral h2 {
    padding-top: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
  }
  .clientesGeneral .clientesImgGeneral {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-row-gap: 40px;
  }
  .clientesGeneral .clientesImgGeneral img {
    height: 75px;
    width: 75px;
    border-radius: 75px;
  }
}
/* Responsive */

/*# sourceMappingURL=style.css.map */
