

#navegador{
    position: sticky;
    top: 0;
    z-index: 10000;
    
    .navegadorGral{
        background-color: $bg-color-nav-footer;    
        font-family: $fuente-titulos;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;        
    }
    .navegadorLogo{    
        font-family: $fuente-titulos;
    }
    .menuNavegador ul{
        margin-top: 5%;
        color: $color-texto-nav;
        list-style: none;
        display: flex;
        justify-content: space-around;
        
        li {    
            display: flex;
            align-content: center;            
        }

        a{
            color: $color-texto-nav;
            text-decoration: none;

            &:visited:hover{
                color: $color-texto-nav;
            }
            
            &:hover{
                transform: scale(1.5, 1.5);
                transition: all 0.5s;
            } 
        }        
        
    }
}


/* Responsive */

@media (min-width: 768px) and (max-width: 1024px){
    
    .navegadorGral{
        font-size: 75%;        
    }

    .navegadorLogo img{
        height: 70px;
        width: 180px;
    }

    .menuNavegador a:hover{
        transform: scale(1.2, 1.2);
        transition: all 0.5s;
    }    
}

@media (min-width: 576px) and (max-width: 767px){
    .navegadorGral{
        font-size: 50%;        
    }
    .navegadorLogo img{
        height: 40px;
        width: 100px;
    }

    .menuNavegador a:hover{
        transform: scale(1.2, 1.2);
        transition: all 0.5s;
    }
}

@media (max-width: 575px){
    .navegadorGral{
        font-size: 32%;        
    }
    .navegadorLogo img{
        height: 30px;
        width: 80px;
    }

    .menuNavegador a:hover{
        transform: scale(1.2, 1.2);
        transition: all 0.5s;
    }
}
/* Responsive */


