@import '../base/maps';
@import '../base/mixins';

.nosotrosGeneral{    
    color: map-get($map: $margenes-parrafos, $key: color-gral);
    margin: map-get($map: $margenes-parrafos, $key: margenes-generales);

    h2{   
        @include titulos;
   }

    .nosotrosParrafo{
        padding: 10px 100px;
        font-family: $fuente-parrafos;
        word-spacing: 10px;        
    }
}

/* Responsive */

@media (min-width: 768px) and (max-width: 1024px){
    .nosotrosGeneral{  
        margin: 0 20px;

        h2{       
            padding-top: 70px;
            margin-top: 30px;
            margin-bottom: 80px;        
            font-size: 25px;
        }
            .nosotrosParrafo{
                padding: 0 50px;        
                word-spacing: 5px; 
                font-size: 70%;       
            }
    }  
}

@media (min-width: 576px) and (max-width: 767px){
    .nosotrosGeneral{  
        margin: 0 20px;

        h2{                 
            padding-top: 50px;
            margin-top: 30px;
            margin-bottom: 50px;        
            font-size: 20px;
        }
            .nosotrosParrafo{
                padding: 0 30px;        
                word-spacing: 5px; 
                font-size: 50%;       
            }
    }   
}


@media (max-width: 575px){ 
    .nosotrosGeneral{  
        margin: 0 10px;

        h2{        
            padding-top: 32px;
            margin-top: 30px;
            margin-bottom: 30px;        
            font-size: 12px;
        }
    
            .nosotrosParrafo{
                padding: 0 20px;        
                word-spacing: 3px; 
                font-size: 40%;       
        }
    }    
}

/* Responsive */